@import '../../global';
#mainView {
    float: right;
    width: 75%;
    text-align: center;
    h1 {
        font-size: 29px;
        border-bottom: 1px solid grey;
        padding-bottom: 15px;
        background-color: #e4e4e4;
    }
    ul {
        display: inline-flex;
        padding-left: 0px;
       
        li {
            list-style-type: none;           
            margin: 100px;
            margin-top: 20px;
            cursor: pointer;
            &:first-child {
                margin-left: 0px;                
            }
            &:last-child {
                margin-left: 0px;
                margin-right: 0px;
            }           

            label {
                margin-top: 15px;
                font-size: x-large;
            }
        }
    }
   
    .imageContainer {    
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        position: relative;
        border-radius: 50%;
        background-color: #e6e1e5;
        transition: transform .2s; /* Animation */
        &:hover {
            transform: scale(1.5); 
        }
        img {
            position: absolute;
            left: 12.5%;
            top: 12.5%;
            border-radius: 50%;
            width: 75%;
            height: 75%;
        }

        
    }

   
    
    }

  

