@import '../../global';
#mainView {
    float: right;
    width: 74%;
    margin-right: 5px;
    text-align: center;
    h1 {
        font-size: 29px;
        border-bottom: 1px solid grey;
        padding-bottom: 15px;
        background-color: #e4e4e4;
    }
    ul {
        display: inline-flex;
        padding-left: 0px;
        li {
            list-style-type: none;
            width: 100px;
            height: 100px;
            margin-left: 100px;
            margin-right: 100px;
            cursor: pointer;
           // transition: width 0.5s, height 0.5s;
            &:first-child {
                margin-left: 0px;
                
            }
            &:last-child {
                margin-right: 0px;
            }
           /* &:hover {
                height: 200px;
                width: 200px;
            }*/

            label {
                margin-top: 15px;
                font-size: x-large;
            }
        }
    }
   
    .imageContainer {    
        width: 100px;
        height: 100px;
        position: relative;
        border-radius: 50%;
        background-color: #e6e1e5;
        @include alignImageCenter;
        img {
            border-radius: 50%;
            width: 75%;
            height: 75%;
        }

        
    }

   
    
    }

  

