<div class='mainContent'>
    <div id="welcomePage">
        <div class="banner">
            <img src="../../../assets/images/prelaunch_banner.jpg">
        </div>
        <div class='infoSection'>
            <div class='infoGroup'>
                <h2>PROSSESS Maintenance group </h2>
                <ul>
                    <li> TEIE Richard Andersson, Product owner </li>
                    <li> INBG Maritha Kvist, Maintenance manager </li>
                    <li> MPPM Lars Jonsson, SL5 </li>
                    <li>MPPM Sebastian Hedlund SL5 </li>
                    <li> MPCC Fredrik Zaar, SL5 </li>
                    <li>DEPG David Borg, SL5 </li>
                </ul>
            </div>
            <div class='infoGroup'>
                <h2>Service Desk/Customer Support</h2>
                <ul>
                    <li> Phone:+46 8 553 81795 </li>
                    <li> Mail: cs.sodertalje@scania.com </li>
                    <li><a href="https://internal.scania.com/" target = "_blank">Interferences (Scania Inline)</a> </li>
                    <li><b>Super-user first</b></li>
                    <li> Coordinate any issues or requests with your super-user (SL5) first </li>
                    <li>DEPG David Borg, SL5 </li>
                </ul>
            </div>

            <div class='infoGroup'>
                <h2>DEVELOPMENT</h2>
                <ul>
                    <li> Follow up PROSSESS project in <a href="https://jira.scania.com/" target = "_blank">Jira.scania.com</a> for updates on current change requests. </li>

                </ul>
            </div>

        </div>
    </div>