<div id="welcomePage">
    <div class="banner">

    </div>
    <div class='infoSection'>
        <h2>Side Maintenance group: </h2>
        <ul>
            <li> TEIE Richard Andersson, Product owner </li>
            <li> INBX Maritha Kvist, Maintenance manager </li>
            <li> MPPM Lars Jonsson, SL5 </li>
            <li>MPPM Sebastian Hedlund SL5 </li>
            <li> MPCC Fredrik Zaar, SL5 </li>
            <li>DEPG David Borg, SL5 </li>
        </ul>
           <h3>SUPPORT</h3>
           <h2>Service Desk/Customer Support</h2>
        <ul>
            <li> Phone:+46 8 553 81795 </li>
            <li> Mail: cs.sodertalje@scania.com </li>
            <li> Interferences (Scania Inline) </li>
            <li>Super-user first </li>
            <li> Coordinate any issues or requests with your super-user (SL5) first </li>
            <li>DEPG David Borg, SL5 </li>
        </ul>


        <h2>DEVELOPMENT</h2>
        <ul>
            <li> Follow up SIDE project in Jira.scania.com for updates on current change requests. </li>
            
        </ul>
           

        
</div>