@import "../../_global.scss";
.sidebar {
    width: 25%;
    float: left;
    background-color: #efecec;
    height: calc(100% - 15px);
    padding-left: 0px;
    margin-left: 4px;
    ul {
        margin-top: 20px;
        height: inherit;
        display: block;
    }
    li {
        @include alignTextCenter;
        width: 100%;
        height: 50px;
        margin: 0 !important;
        border-top: 0px;
        cursor: pointer;
        &:first-child {
            border-top: 1px;
            
            
        }
        &:hover {
            background-color: #efecec;
        }
        a {
            padding: 0px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 0px;
           
        }
        
    }
    li.highlighted {
        background-color: lightgrey;
    }
}
.sidebar {
    height: 100%;
}